:root {
            --darkgray: darkslategray;
            --ws: whitesmoke;
        }
        html {
            scroll-behavior: smooth;
        }
        body {
                margin: 0;
                padding: 0;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                line-height: 1.5;
                background-color: var(--ws);
            }
        header {
                background-color: var(--darkgray);
                margin-top: 0;
                padding: 1%;
                margin-bottom: auto;


        }
        h1 {
            font-weight: bold;
            color: var(--ws);
            font-size: 60px;
            padding-left: 10%;
            position: absolute;
            margin-top: 2%;
            margin-bottom: -2;
        }

        .profile img{
            height: auto;
            border-radius: 50px;
            max-width: 50%;
            max-height: 50%;
            padding: 0;
            margin: 0;


        }

                            /* LIST */


        .navbar ul {
            list-style: none;
            background-color: var(--darkgray);
            padding: 0;
            margin: 0;
            text-align: right;
        }

        .navbar li {
            display: inline-block;
        }

        .navbar a {
            text-decoration: none;
            color: black;
            width: 100%;
            display: block;
            padding: 25px 5px 0px 10px;
            font-size: 1.5em;

        }

        .navbar a:hover {
            color: var(--ws)
        }

                            /* HERO BANNER */
        .hero-banner {
            background-color: blanchedalmond;
            margin-top: -2%;
            }


        .hero-title h2 {
            font-size: 2em;
            text-align: right;
        }

        .page-section {
        display:flex;
        }
                            /* ABOUT ME */
        .about-title {
            display:flex;
            justify-content: center;
            font-size: 2em;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
            border-right: 5px black solid;
        }
        .about-title h2 {
            width: 10rem;
        }
        
        #about p {
            padding: 5px 80px 5px 80px;
        }

                            /* WORK */
        .work-title {
            display: inline-flex;
            justify-content: center;
            font-size: 2em;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
            border-right: 5px black solid;
         }
         .work-title h2 {
            width: 10rem;
        }
         #work {
            margin: 0;
            padding: 0%;
            display: flex;
            width:100%;
         }
            .work-flex{
                width: auto;
                position: relative;
                margin: auto;
                width: 100%;
            }
        
        .first-img {
            display: flex;
            justify-content: center;
            padding: 1%;
            margin: 16px;
        }
        .other-row {
            display:flex;
            justify-content: center;
            width: auto;
            flex-direction: row;
            border-left-color: black;
            border-width: 0 0 0 5px;
        }
        .content-1 img, .content-2 img, .content-3 img, .content-4 img, .content-5 img{
            border-radius: 8px;

        }
        .content-1{
            position:relative;
            filter: grayscale(0);
            transition: all 2s ease-in-out;
        }
        .content-2, .content-3, .content-4, .content-5{
            position:relative;
            justify-content: center;
        }
        #caption1 {
            background-color: darkslategray;
            font-size:3rem;
            padding:2%;
            position: absolute;
            bottom: 35px;
            color: blanchedalmond;
        }
        #caption2, #caption3, #caption4, #caption5 {
            background-color: darkslategray;
            font-size:1.1rem;
            padding:2%;
            position: absolute;
            bottom:35px;
            color: blanchedalmond;
        }
        .work-flex img:hover {
            filter: grayscale(1);
            transition: all 500ms;
        }
        .other-row img:hover {
            filter: grayscale(1);
            transition: all 500ms;
        }
                            /* / CONTACT/ */
                            .contact-title {
                                display: inline-flex;
                                justify-content: center;
                                font-size: 1.5em;
                                padding-left: 20px;
                                padding-right: 20px;
                                text-align: center;
                                border-right: 5px black solid;}
                                
.contact-title h2 {
width: 10rem;
        }


        .horizontal-menu {
            background-color: (--ws);
            overflow: hidden;
            bottom: 0;
            width: 100%;}

        .horizontal-menu ul {
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: center;
        }

        .horizontal-menu li {
            text-align: center;

        }

        .horizontal-menu a {
            text-decoration: none;
            color: black;
            width: 100%;
            padding: 25px 20px;
            font-size: 2.5em;
        }

        .horizontal-menu a:hover {
            color: var(--darkgray)
        }

@media screen and (max-width:1000px) {
    
    h1 {
        text-align: right;
        padding-top: 2%;
        font-size: 3em;
        padding-right: 1%;
    }

    .profile img {
        padding-top: 2%;
        height: 28%;
        width: 24%;
        padding-left: 1%;
    }

    .navbar ul{
        display: flex;
        flex-direction: row;
        left: auto;
        padding-bottom: 2%;
    }
    
    .hero-banner{
    margin-top: -8%;
    }
    
    .hero-title h2 {
        font-size: 1.5em;
        text-align: center;
    }
    
    .about-title {
        font-size: 1.2em;
        text-align: left;
        padding: 0;
        border-right: 5px black solid;
        writing-mode: vertical-rl;
        text-orientation: upright;  
        margin: 0;
        justify-content: center;
    }

    .about-title h2 {
        width: 100%;
        text-transform: uppercase;
    }

    #about p {
        padding: 1px 3px 1px 10px;
    }

    .work-title {
        font-size: 1.2em;
        text-align: left;
        padding-left: 0;
        padding-right: 0;
        border-right: 5px black solid;
        writing-mode: vertical-rl;
        text-orientation: upright;  
        margin-top: 0;
        margin-bottom: 0;
        display: inline-block;
        justify-content: center;
    }
    .work-title h2 {
        width: 100%;
        text-transform: uppercase;
        margin-top: 10%;
    }

    .content-1 img{
        max-width: 80%;
        min-height: 80%;
        margin: 0;
        padding: 0 10px 0 0;
    }

#caption1 {
        max-width: 70%;
        max-height: 70%;
        font-size: 2em;
    }s

    figure {
        margin-inline-start: 0;
        margin-inline-end: 0;
    }
    

    .other-row{
        display: inline-block;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 50%;
        min-height: 50%;
        padding-left: 20px;


    }
}

