:root {
    --darkgray: darkslategray;
    --ws: whitesmoke;

}
html {
    scroll-behavior: smooth;
}

body {
        margin: 0;
        padding: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        line-height: 1.5;
        background-color: var(--ws);
    }

header {
        background-color: var(--darkgray); 
        margin-top: 0;
        padding: 2%
}

.hero-banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
        padding:-30px;
        background-color: blanchedalmond;
    }

    .profile img{
        display: flex;
        justify-content: flex-start;
        border-radius: 200px;
        max-width: 20%;
        max-height: 20%;
        padding: -20px;
    }

h1 {
        font-weight: bold;
        color: var(--ws);
        font-size: 80px;
        margin: -1%;
    }

h2 {
font-size: 1.5em;

}

                        /* LIST */
ul {
    font-size: 1.5em;
    list-style-type: none;
    background-color: var(--darkgray);
    margin: 0;
    text-align: right;
}

li {
        display: inline;
        font-size: 1.5em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 40px;
}

a {
    text-decoration: none;
    color: black;
}

ul li a:hover
{
color: var(--ws)
}



.page-section {
display:flex;
justify-content: center;
align-items: center;
gap:3vw;
}

.about-title{
    display:flex;
    justify-content: center;
    align-items: center;
}

#about p{
    padding:3%;
    width:83%;
}
.work-flex{
    width:auto
}

.first-img {
    display: flex;
    justify-content: center;
    padding: 1%;
}

.content-1 img, .content-2 img, .content-3 img, .content-4 img, .content-5 img{
    border-radius: 8px;
}

.other-row{
    display:flex;
    justify-content: center;
}
.content-1{
    position:relative;
    filter: grayscale(0);
    transition: all 2s ease-in-out;

}
.content-2, .content-3, .content-4, .content-5{
    position:relative;

}

#caption1 {
    background-color: darkslategray;
    font-size:3rem;
    padding:2%;
    position: absolute;
    bottom: 35px;
    color: blanchedalmond;
    transition: all 500ms;
}

#caption2, #caption3, #caption4, #caption5 {
    background-color: darkslategray;
    font-size:1.1rem;
    padding:2%;
    position: absolute;
    bottom:35px;
    color: blanchedalmond;
}

.work-flex img:hover {
    filter: grayscale(1);
    transition: all 500ms;
}

.other-row img:hover {
    filter: grayscale(1);
    transition: all 500ms;
}

#contact-info{
display: inline-block;
justify-content: space-evenly;

}

.contact{
    padding:0;
    margin: -15px;
}

.horizontal-menu {
    background-color: var(--ws);

}

.horizontal-menu ul {
    padding: -20px;
    margin: -15px;
    list-style-type: none;
}

.horizontal-menu li {
    float: left;
}

.horizontal-menu a {
    display: inline;
    color: black;
    text-align: center;
    padding:0;
    text-decoration: none;
}

.horizontal-menu a:hover {
    background-color: var(--darkgray);
    color: blanchedalmond;
    padding: 5%;
    border-radius: 3px;
}

